<div id="stats">    
  <%= Player.find(@round.player_id).initial %> is the winner winner chicken dinner!
  <p> With an amazing time of: <%= @timer %> sec</p>

</div>
<div id="home"><a href='/'>Reset</a></div>
